@import "./BasicStats/BasicStats";
@import "./AdvancedStats/AdvancedStats";

.StatsSection-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: $bg-gen-ui;

  h3 {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    color: $text-white;
  }
}

@media (max-width: 480px) {
  .StatsSection-container {
    width: 100%;
    padding: 0;
  }
}
