.ItemPreview {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  color: $text-white;
  margin: auto;

  span {
    text-align: center;
    font-size: 0.8rem;
  }

  .rarity-1,
  .rarity-2,
  .rarity-3 {
    font-weight: bold;
  }

  .item-property-strings {
    color: $text-blue;
  }

  .button-container {
    margin: 0 auto;

    button {
      margin: 0 0.5rem;
      cursor: pointer;
    }
  }
}
