.CharmInventory-container {
  width: 22rem;
  height: 12rem;
  border: 1px solid $text-gold;
  color: $text-white;
  background-color: black;
  margin: auto;

  @media (max-width: 768px) {
    margin: 1rem auto auto auto;
  }
}
