$text-red: rgb(230, 47, 47);
$text-white: rgb(243, 243, 234);
$text-blue: #4169e1;
$text-green: #00ff00;
$text-gold: #a59263;
$text-yellow: #ffff00;

$bg-content: rgb(190, 200, 215);
// navbar
$bg-site-ui: rgb(45, 45, 45);
// form container, itempedia, planner, backgrounds
$bg-gen-ui: rgb(30, 30, 30);
$bg-ui-black: rgba(0, 0, 0, 0.8);
$bg-ui-hover: rgba(200, 200, 200, 0.2);

$btn-blue: #4169e1;
$btn-blue-hover: #25439c;
